<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Signature ✒</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="fonts.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" charset="utf-8"></script>
</head>
<body>
  <header>
    <h1 id="title"></h1>
    <h5 id="myh5"></h5>
  </header>
  <main>

    <div class="datas">
      <input type="text" placeholder="Votre prénom..." v-model="surname">
            <input type="text" placeholder="Votre nom..." v-model="name">
      <input type="tel" placeholder="☎ Téléphone fixe..." v-model="fixe">
      <input type="tel" placeholder="📱 Téléphone mobile..." v-model="mobile">
      <input type="email" placeholder="📧 Adresse e-mail..." v-model="mail">
      <input type="text" placeholder="📬 Votre adresse..." v-model="adresse">
      <input type="file" id="file" placeholder="Photo" onchange="app.upload()">
      <button type="button" id="uploadBtn" @click="click">Uploader ma photo</button>

      <input type="reset" value="Réinitialiser..." v-on:click="reset">
    </div>

    <div class="preview">
      <label for="police">Choisissez une police :</label><br><br>

      <select name="police" id="police" onchange="police();">
        <option value="candara">Candara</option>
        <option value="arial">Arial</option>
        <option value="impact">Impact</option>
        <option value="verdana">Verdana</option>
        <option value="trebuchetms">Trebuchet MS</option>
        <option value="timesnewroman">Times New Roman</option>
        <option value="courier">Courier New</option>
      </select>
      <br><br>

      <div class="identity">
        <img v-bind:src="src" class="picture">
        <div class="infos">
          <p class="surname">{{surname}}</p>
          <p class="name">{{name}}</p>
        </div>
      </div>
      <hr>
      <p class="mail">📧 {{mail}}</p>
      <p class="telfix">☎ {{fixe}}</p><p class="telmobile">📱 {{mobile}}</p>
      <p class="address">📬 {{adresse}}</p><br><br>
      <a href="#" class="dl"><input type="submit" name="générer" value="Générer" class="générer" onclick="générerSignature();"></a>

    </div>
  </main>

  <footer>
    <p>Par Damien Stéphan</p>
  </footer>

  <script type="text/javascript" src="main.js"></script>
</body>
</html>
