body {
  font-family: "caviar", sans-serif;
  color: white;
  margin: 0;
  text-align: center;
  background-color: #82ccdd;
}

.générer {
  width: 700px;
}

header {
  text-align: left;
  background: #f8c291;
  padding: 35px;
}

input {
  font-family: "caviar";
  color: white;
  outline: none;
}

input[type = "text"], input[type = "tel"], input[type = "email"], input[type = "url"], button {
  background: #f6b93b;
  border: 2px solid #1e3799;
  border-radius: 20px;
  transition: color 1s, width 0.15s;
  padding-left: 30px;
  padding-right: 30px;
  width: 150px;
  height: 30px;
  outline: none;
  transition: 0.25s;
}

.datas input:hover, .datas input:active , .datas input:focus{
  background: #1e3799;
}

input[type = "submit"], input[type = "reset"] {
  background: #2ecc71;
  border: 2px solid #2ecc71;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  width: 150px;
  height: 30px;
  outline: none;
  cursor: pointer;
  transition: 0.25s;
}

input[type = "submit"]:hover, input[type = "reset"]:hover {
  background-color: #0c2461;
  border-color: #0c2461;
}

input[type = "text"]::placeholder, input[type = "tel"]::placeholder, input[type = "email"]::placeholder, input[type = "url"]::placeholder {
  opacity: 1;
  color: white;
}

#file {
  display: none;
}

button {
  font-family: "caviar", sans-serif;
  color: white;
  transition: 0.25s;
  cursor: pointer;
  width: 210px;
}

button:hover {
  background: #1e3799;
}

select {
  background: none;
  border: 2px solid #1e3799;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  width: 200px;
  height: 30px;
  outline: none;
  background: #82ccdd;
  font-family: "caviar";
  color: white;
  transition: 0.25s;
  cursor: pointer;
}

select:hover, select:active, select:focus {
  background: #1e3799;
}

option {
  outline: none;
}

.preview {
  text-align: left;
  font-family: "Candara";
}

.preview, .datas {
  margin: 100px;
}

.datas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.datas > * {
  margin: 10px;
}

.identity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.picture {
  padding-right: 15px;
  max-width: 100px;
  max-height: 100px;
}

hr {
  border-color: #eb2f06;
}

label {
  font-family: "caviar";
}

a {
  color: #b71540;
}

.content {
  text-align: left;
  padding-left: 50px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@font-face {
  font-family: "caviar";
  src: url('caviar_dreams/CaviarDreams.ttf');
}
